@model RestaurantRater116.Models.Restaurant

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">@Model.Name</h2>
<h2 class="text-center">@Model.Rating</h2>

<a href="/Restaurant" class="btn btn-info">
    Go Back
</a>